{% extends "base.html" %}
{% block content %}
<div class="col-md-6 offset-md-3">
  <h2 class="mb-4 text-center">Register</h2>
  <form method="POST" action="/register">
    <div class="mb-3"><label>Name</label><input type="text" name="name" class="form-control" required></div>
    <div class="mb-3"><label>Email</label><input type="email" name="email" class="form-control" required></div>
    <div class="mb-3"><label>Password</label><input type="password" name="password" class="form-control" required></div>
    <div class="mb-3"><label>Phone</label><input type="text" name="phone" class="form-control"></div>
    <button class="btn btn-success w-100">Create Account</button>
  </form>
</div>
{% endblock %}
